<131-140>

In [8]:
#131,133
#for 문의 실행결과 : 리스트에 들어있는 문자열이 한 라인에 하나씩 출력된다.
#변수바인딩(변수='A')->변수출력(print(변수)) * 자료구조 데이터 개수

과일 = ['사과','귤','수박']
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [4]:
#132
#for문의 핵심은 "들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다"
# 따라서 들여쓰기 된 print('#####') 코드가 세 번 실행된다.

과일 = ['사과','귤','수박']
for 변수 in 과일:
    print('#####')

#####
#####
#####

In [20]:
# 134
# for 문을 풀어서 동일한 동작을 하는 코드를 작성하라
for 변수 in ['a','b','c']:
    print('출력: ', 변수)

print('*'*50)

변수 = 'a'
print('출력: ', 변수)
변수 = 'b'
print('출력: ', 변수)
변수 = 'c'
print('출력: ', 변수)

출력:  a
출력:  b
출력:  c
**************************************************
출력:  a
출력:  b
출력:  c

In [19]:
#135
#라인 1의 for문이 실행되면 변수에 첫번째 데이터를 바인딩한다
#그리고 들여쓰기 된 라인 2의 코드를 실행한다.

for 변수 in ['a','b','c']:
    change=변수.upper()
    print('변환: ',change)
    
print('*'*50)

변수 = 'a'
change=변수.upper()
print('변환: ',change)
변수 = 'b'
change=변수.upper()
print('변환: ', change)
변수 = 'c'
change=변수.upper()
print('변환: ', change)

변환:  A
변환:  B
변환:  C
**************************************************
변환:  A
변환:  B
변환:  C

In [31]:
#136
변수 = 10 
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

print('*' * 50)

li = [10,20,30]
for 변수 in li:
    print(변수)
    
print('*'*50)

for 변수 in [10,20,30]:
    print(변수)

print('*' * 50)

# 137
print(10)
print(20)
print(30)

print('*'*50)

li=[10,20,30]
for a in li:
    print(a)

10
20
30
**************************************************
10
20
30
**************************************************
10
20
30
**************************************************
10
20
30
**************************************************
10
20
30

In [32]:
# 138
print(10)
print('---------')
print(20)
print('---------')
print(30)
print('---------')

li=[10,20,30]
for a in li:
    print(a)
    print('---------')

10
---------
20
---------
30
---------
10
---------
20
---------
30
---------

In [33]:
# 139
print("++++")
print(10)
print(20)
print(30)

print("++++")
li=[10,20,30]
for a in li:
    print(a)

++++
10
20
30
++++
10
20
30

In [37]:
# 140
print("-------")
print("-------")
print("-------")
print("-------")

for i in ['a','b','c','d']:
    print("-------")

for i in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------

<141-150>

In [39]:
#141
리스트=[100,200,300]

for a in 리스트:
    print(a+10)

110
210
310

In [42]:
#142
리스트=['김밥','라면','튀김']

for 메뉴 in 리스트:
    print('오늘의 메뉴: ', 메뉴)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [46]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 종목명 in 리스트:
    print(len(종목명))

print('*'*50)

for 종목명 in 리스트:
    길이 = len(종목명)
    print(길이)

6
4
4
**************************************************
6
4
4

In [47]:
#144
li = ['dog', 'cat', 'parrot']

for animal in li:
    print(animal,len(animal))

dog 3
cat 3
parrot 6

In [48]:
# 145
# for문을 사용해서 동물 이름의 첫 글자만 출력
li = ['dog', 'cat', 'parrot']
for animal in li:
    print(animal[0])

d
c
p

In [50]:
#146
리스트 = [1, 2, 3]
for num in 리스트:
    print("3 x",num)
    print("3 x",str(num)) # 문자로 변환 후 문자열 연산 사용

3 x 1
3 x 1
3 x 2
3 x 2
3 x 3
3 x 3

In [56]:
#147
리스트 = [1, 2, 3]
for num in 리스트:
    print("3 x",num,"=",3*num)

print('*'*50)

for num in 리스트:    
    print('3 x {} = {}'.format(num, 3*num))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [70]:
# 148
리스트 = ["가", "나", "다", "라"]
for han in 리스트[1:]:
    print(han)

나
다
라

In [72]:
# 149
리스트 = ['가','나','다','라']
for han in 리스트[::2]:
    print(han)

가
다

In [73]:
#150
리스트=['가','나','다','라']
for han in 리스트[::-1]:
    print(han)

라
다
나
가

<151-160>

In [74]:
#151
# for 문을 사용해서 리스트의 음수를 출력

리스트=[3,-20,-3,44]
for num in 리스트 : 
    if num < 0 :
        print(num)

-20
-3

In [78]:
#152
리스트=[3,100,23,44]
for num in 리스트:
    if num % 3 == 0:
        print(num)

3

In [79]:
#153
#리스트에서 20보다 작은 3의 배수를 출력하라

리스트 = [13,21,12,14,30,18]
for num in 리스트:
    if num < 20 and num % 3 == 0 :
        print(num)

12
18