161-170

In [1]:
#161
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라. 
# range문 = 범위를 만들어준다
# range(100) = 0부터 99까지 숫자 리스트를 만든다.

for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
# 162
# 월드컵은 4년에 한 번 개최된다. 
# range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.
# range의 세번째 파라미터는 증감폭을 결정한다.

for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [4]:
# 163
# 1부터 30까지의 숫자 중 3의 배수를 출력하라.

# for i in range(31):
#     if i % 3 == 0:
#         print(i)

for i in range (3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [8]:
# 164
# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라. 
# 뺄셈을 사용해서 원하는 결괏값을 얻어냅니다.

for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [13]:
# 165

for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [16]:
# 166
# 구구단 3단을 출력하라

for i in range(10):
    print(3,'x',i,'=',3*i)

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [17]:
for i in range(1,10):
    print(3,'x',i,'=',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [18]:
# 167
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

for i in range(1,10):
    if i % 2 != 0:
        print(3,'x',i,'=',3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [20]:
for i in range(1,10,2):
        print(3,'x',i,'=',3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [21]:
num=3
for i in range(1,10):
    if i % 2 ==1:
        print(num,'x',i,'=',num*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [27]:
# 168
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

total=0
for i in range(1,11):
    total += i
print('총합:',total)

총합: 55

In [28]:
total=0
for i in range(1,11):
    total += i
    print('총합:',total)

총합: 1
총합: 3
총합: 6
총합: 10
총합: 15
총합: 21
총합: 28
총합: 36
총합: 45
총합: 55

In [29]:
# 169
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
# total += i --> total = total+i

total=0
for i in range(1,11,2):
    total += i
print('총합: ',total)

총합:  25

In [30]:
# 170
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라. 
# result *= i --> result = result*i

result=1
for i in range(1,11):
    result *= i
print('result: ',result)

result:  3628800

171-180

In [32]:
# 171
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [34]:
# len() 함수를 사용하면 price_list 가 변해도 코드의 수정이 필요없습니다. 
# 아래가 더 좋은 코드입니다.

for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [35]:
# 172
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [2]:
# enumerate() : 열거하다
# 순서가 있는 자료형(리스트,튜플,문자열)을 입력으로 받아
# 인덱스 값을 포함하는 enumerate 객체를 돌려준다
# for문처럼 반복되는 구간에서 객체가 현재 어느위치에 있는지 알려주는 인덱스 값이 필요할 때 사용

price_list = [32100, 32150, 32000, 32500]
for i,data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [4]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((len(price_list)-1)-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [5]:
for i in range(len(price_list)):
    print(3-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [6]:
# 174
price_list = [32100, 32150, 32000, 32500]

for i in range(1,4):
    print(90+10*i,price_list[i])

100 32150
110 32000
120 32500

In [8]:
# 175
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [9]:
for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [10]:
# 176

my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])
    
# for i in range(1,len(my_list)-1):
#     print(my_list[i-1],my_list[i],my_list[i+1])

# for i in range(2,len(my_list)):
#     print(my_list[i-2],my_list[i-1],my_list[i])

가 나 다
나 다 라
다 라 마

In [15]:
# 177
# range(start,stop,step)

my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1,0,-1):
    print(my_list[i], my_list[i-1])

# for i in range(len(my_list)-1):
#     print(my_list[len(my_list)-1-i],my_list[len(my_list)-2-i])

라 다
다 나
나 가

In [ ]:
# 어렵다면 인덱싱을 사용해서 코드를 작성해 규칙을 확인한다.
print(my_list[3],my_list[2])
print(my_list[2],my_list[1])
print(my_list[1],my_list[0])

In [13]:
# for i in [3,2,1]:
#     print(my_list[i],my_list[i-1])

# for i in [2,1,0]:
#     print(my_list[i+1],my_list[i])

# for i in [0,1,2]:
#     print(my_list[3-i],my_list[2-i])

라 다
다 나
나 가

In [20]:
# 178
# abs(): 절대값을 만들어주는 함수
my_list = [100, 200, 400, 800]
    
for i in range(len(my_list)-1):
    print(abs(my_list[i]-my_list[i+1]))

# for i in range(len(my_list)-1):
#     print(my_list[i+1]-my_list[i])

100
200
400

In [21]:
# 179
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 
# 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2):
    print(abs(my_list[i]+my_list[i+1]+my_list[i+2])/3)
    
# for i in range(1, len(my_list)-1):
#     print(abs(my_list[i-1]+my_list[i]+my_list[i+1])/3)

# for i in [1,2,3,4]:
#     print(abs(my_list[i-1]+my_list[i]+my_list[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [27]:
# 180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 
# 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility=[]
for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]