파이썬 변수는 자주 사용되는 값을 바인딩합니다.

In [1]:
# 011 변수 사용하기

# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요. 

삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [2]:
# 012 변수 사용하기

# 다음 표는 삼성전자의 일부 투자정보입니다. 
# 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가   = 50000
PER      = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [3]:
# 013 문자열 출력

# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다. 

s='hello'
t='python'

print(s+'!',t)

hello! python

In [4]:
# 014 파이썬을 이용한 값 계산

2+2*3

8

In [6]:
# 015 type 함수

# type() 함수는 데이터 타입을 판별합니다.
# 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

a=128
print(type(a))

b='132'
print(type(b))

<class 'int'>
<class 'str'>

In [7]:
# 016 문자열을 정수로 변환

# 문자열 '720'를 정수형으로 변환해보세요. 
# int()

num_str = '720'
num_int = int(num_str)
print(num_int+1,type(num_int))

721 <class 'int'>

In [8]:
# 017 정수를 문자열 100으로 변환
# str()

num=100
str_num=str(num)
print(str_num,type(str_num))

100 <class 'str'>

In [9]:
# 018 문자열을 실수로 변환
# float()

# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요. 

float = float('15.79')
print(float,type(float))

15.79 <class 'float'>

In [10]:
# 019 문자열을 정수로 변환

# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 
# 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
year_int=int(year)

print(year_int,year_int+1,year_int+2,type(year_int))

2020 2021 2022 <class 'int'>

In [11]:
# 020 파이썬 계산

# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

air_month = 48584
total = air_month * 36

print(total)

1749024