181-190

In [1]:
# 181
# 아래 표에서 하나의 행을 하나의 리스트로, 
# 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

apart = [['101호','102호'],['201호','202호'],['301호','302호']]

In [2]:
# 182

# 아래 표에서 하나의 열을 하나의 리스트로, 
# 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

stock = [['시가',100,200,300],['종가',80,210,330]]

In [3]:
# 183

# 아래 표를 stock 이름의 딕셔너리로 표현하라.
# 시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 

stock = {'시가':[100,200,300], '종가':[80,210,330]}

In [ ]:
# 184

# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 
# 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 
# 첫 열이 날짜이다.


stock = {'10/10':[80,110,70,90], '10/11':[210,230,190,200]}

In [11]:
# 185
# 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,'호')

# for i in apart:
#     print(i)

# for i in apart:
#     for l in i:
#         print(l)

101 호
102 호
201 호
202 호
301 호
302 호

In [13]:
# 186
# 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [14]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [18]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,'호')
        print('------')

101 호
------
102 호
------
201 호
------
202 호
------
301 호
------
302 호
------

In [22]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,'호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [24]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col,'호')
print('-'*6)

101 호
102 호
201 호
202 호
301 호
302 호
------

191-200

In [26]:
# 191
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다. 
# 수수료를 0.014 %로 가정할 때, --> 0.00014
# 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [27]:
# 192
# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col*1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [31]:
#193
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result=[]
for row in data:
    for col in row:
        result.append(col*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [33]:
# 194
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 
# 저장 포맷은 아래와 같다. 
# 각 행에 대한 데이터끼리 리스트에 저장되어야 한다. 

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result=[]
for row in data:
    sub =[]
    for col in row:
        sub.append(col*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [36]:
# 195
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    print(row[3])

100
190
310

In [38]:
# 196
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3] > 150:
        print(row[3])

190
310

In [40]:
# 197
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[3]>=row[0]:
        print(row[3])

100
310

In [43]:
# 198
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility=[]
for row in ohlc[1:]:
        volatility.append(row[1]-row[2])
print(volatility)

[40, 30, 10]

In [44]:
volatility=[]
for i in range(1,len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [45]:
# 199
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
# 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility=[]
for row in ohlc[1:]:
    if row[3]>row[0]:
        volatility.append(row[1]-row[2])
print(volatility)

[10]

In [48]:
# 200
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 
# 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit=0
for row in ohlc[1:]:
    profit += (row[3]-row[0])
print(profit)

0