- 파이선 리스트는 순서가 있고 수정 가능한 자료구조입니다.

**(51-60)**

In [1]:
# 051 리스트 생성

# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 
# 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. 
# (순위 정보는 저장하지 않습니다.)

# 영화 제목은 문자열로 표현 가능합니다. 
# 여러 개의 값을 저장하기 위해 파이썬 리스트 자료형을 사용합니다. 

movie_rank = ['닥터 스트레인지','스플릿','럭키']

In [3]:
# 052 리스트에 원소 추가

# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank = ['닥터 스트레인지','스플릿','럭키']
movie_rank.append('베트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [4]:
# 053

# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. 
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

# 리스트의 insert(인덱스, 원소) 메서드를 사용하면 특정 위치에 값을 끼어넣기 할 수 있습니다. 

movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [5]:
# 054

# movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [6]:
# 055

# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

# del을 이용하여 리스트에서 원소를 삭제할 수 있습니다. 
# 리스트에서 어떤 값을 삭제하면 남은 값들은 새로 인덱싱됩니다. 
# 따라서 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 남은 원소들에 대해서 순서를 새로 고려한 후 삭제해야 합니다. 

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[-2:]

# del movie_rank[2]
# del movie_rank[2]

print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [7]:
# 056

# lang1과 lang2 리스트가 있을 때 
# lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [11]:
# 057

# 다음 리스트에서 최댓값과 최솟값을 출력하라. 
# (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

print('max: ',max(nums))
print('min: ',min(nums))

max:  7
min:  1

In [12]:
# 058

# 다음 리스트의 합을 출력하라. 
# sum()

nums = [1, 2, 3, 4, 5]

print('total: ', sum(nums))

total:  15

In [13]:
# 059

# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
# len()

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

print('데이터 개수: ', len(cook))

데이터 개수:  12

In [15]:
# 060

# 다음 리스트의 평균을 출력하라. 

nums = [1, 2, 3, 4, 5]
avg  = sum(nums)/len(nums)

print('평균: ', avg)

평균:  3.0

**(61-70)**

In [18]:
# 061

# price 변수에는 날짜와 종가 정보가 저장돼 있다. 
# 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

In [19]:
# 062

# 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

In [20]:
# 063

# 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[1::2])

[2, 4, 6, 8, 10]

In [22]:
# 064

# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]

print(nums[::-1])

[5, 4, 3, 2, 1]

In [24]:
# 065

# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0],interest[2])

삼성전자 Naver

In [27]:
# 066 join 메서드

# interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# 문자열의 join 메서드를 사용하면 리스트를 문자열로 붙일 수 있습니다. 

print(interest)
print(" ".join(interest))

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [28]:
# 067 join 메서드

# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [30]:
# 068 join 메서드

# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [31]:
# 069 문자열 split 메서드

# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다. 

string = "삼성전자/LG전자/Naver"

# 이를 interest 이름의 리스트로 분리 저장하라

interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [32]:
# 070 리스트 정렬

# 리스트에 있는 값을 오름차순으로 정렬하세요. 
# sort()
# sorted(a)

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [33]:
data  = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]